#pieces-header {
  margin-left: 15px;
}

.pieces {
  max-width: 50%;
}

.pieces mat-card {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: 0px 15px 15px 15px;
    padding: .3em 0;
    height: 105px;
    border-radius: 4px;
  }
  .mat-card-title{
    float: right;
    padding-right: 2.5%;
  }
  .pieces mat-card.selected:hover {
    background-color: #BBD8DC !important;
    color: white;
  }
  .pieces mat-card:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
  }
  .pieces .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: #607D8B;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
    display: inline-block;
  }